body {
    padding: 20px;
}

main
{
    text-align: center;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#trades {
    min-height: 200px;
    min-width: 400px;
    height: 50vh;
    width: 60vw;
}

.nested-list {
    list-style-type: square;
}

.half {
    display: inline-block;
    min-width: 500px;
    width: 48vw;
    vertical-align: top;
}

.left {
    border-right: 1px solid lightgray;
    float: left;
}

.right {
    border-left: 1px solid lightgray;
    text-align: center;
    font-size: 13px;
    float: right;
}