body {
    padding: 20px;
}

main
{
    text-align: center;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;

    font-size: 13px;
}

#trades {
    min-height: 200px;
    min-width: 400px;
    height: 50vh;
    width: 60vw;
}

.nested-list {
    list-style-type: square;
}

.scrollable-large {
    max-height: 575px;
    overflow: hidden;
    overflow-y: auto;
}

.scrollable-medium {
    max-height: 372px;
    overflow: hidden;
    overflow-y: auto;
}

.scrollable-small {
    max-height: 86px;
    overflow: hidden;
    overflow-y: auto;
}
