{% extends "log/layout.html" %}

{% block body %}
{% load mathfilters %}

    <h2>Options</h2>
    <br>

    <div class="half left">
        <h5>Stats</h5>
        <form class="form-check-inline" action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <div class="form-group mt-3">
                <select class="form-control" name="first">
                    <option value="1">All stocks</option>
                    <option value="2">Per stock</option>
                </select>
            </div>
            <div class="form-group ml-2 mt-3">
                <select class="form-control" name="second">
                    <option value="3">All options</option>
                    <option value="5">Call/Put split</option>
                </select>
            </div>
            <input class="btn btn-primary ml-2" type="submit" value="Submit">
        </form>
        <br>
        {% if results %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Option Type</th>
                    <th scope="col">P/L ($)</th>
                    <th scope="col">% of all trades</th>
                </tr>
                </thead>
                <tbody>
                    {% for key, value in results.items %}
                        {% for key2, value2 in value.items %}
                            <tr>
                                <td>{{ value2.ticker }}</td>
                                <td>{{ value2.opt }}</td>
                                <td>{{ value2.total.total__sum }}</td>
                                <td>{{ value2.trade_perc }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <hr>
        <div style="text-align: center;">
            <h5>Open Positions</h5>
            <small>Please click here to update expired contracts.</small>
        </div>
        {% for contract in open_contracts %}
            <br>{{ contract }}
        {% endfor %}
    </div>
    <div class="half right">
        <div style="text-align: center;">
            <h5>Transaction Log</h5>
            <small>All trades in Eastern time. Open positions in bold.</small>
        </div>
        <ul>
            <br>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Side</th>
                        <th scope="col">Ticker</th>
                        <th scope="col">Strike</th>
                        <th scope="col">Option Type</th>
                        <th scope="col">Expiration</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Average ($)</th>
                        <th scope="col">P/L ($)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trade in transactions %}
                        <tr>
                            <td>{{ trade.datetime }}</td>
                            <td>{{ trade.side }}</td>
                            <td>{{ trade.ticker }}</td>
                            <td>{{ trade.strike }}</td>
                            <td>{{ trade.opt }}</td>
                            <td>{{ trade.exp }}</td>
                            <td>{{ trade.qty|abs }}</td>
                            <td>{{ trade.avg }}</td>
                            <td>{{ trade.total }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>Aug. 6, 2020, 2:49 p.m.</td>
                            <td>Buy</td>
                            <td>AAPL</td>
                            <td>$455</td>
                            <td>Call</td>
                            <td>2020-08-10</td>
                            <td>3</td>
                            <td>3.00</td>
                            <td>-900.00</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </ul>
    </div>

{% endblock %}