{% extends "log/layout.html" %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="col" style="border-right: lightgray 1px solid;">
            <h5>Open Positions</h5>
            <div class="scrollable-small">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Ticker</th>
                            <th scope="col">Strike</th>
                            <th scope="col">Option</th>
                            <th scope="col">Expiration</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Average ($)</th>
                            <th scope="col">Total ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contract in open_contracts %}
                            <tr>
                                <td>{{ contract.ticker }}</td>
                                <td>{{ contract.strike }}</td>
                                <td>{{ contract.opt }}</td>
                                <td>{{ contract.exp }}</td>
                                <td>{{ contract.open_qty }}</td>
                                <td>{{ contract.open_avg }}</td>
                                <td>{{ contract.open_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if not open_contracts %}
                No open positions.<br><br>
            {% endif %}
            <button class="btn btn-secondary btn-sm" id="refresh-expired">Remove Expired Contracts</button>
            <hr>
            <h5>Stats</h5>
            <form class="form-inline" id="query-form" action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-control" id="first-select" name="first">
                        <option value="1">Group stocks</option>
                        <option value="2">Per stock</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control ml-1" id="second-select" name="second">
                        <option value="3">Group options</option>
                        <option value="5">Call/Put split</option>
                    </select>
                </div>
                <div>
                    <input type="date" class="form-control ml-1" id="date-start">
                </div>
                <div>
                    <input type="date" class="form-control ml-1" id="date-end">
                </div>
                <input class="btn btn-secondary btn-sm ml-1" id="query-submit" type="submit" value="Submit">
            </form>
            <br>
            <div class="scrollable-medium">
            {% if results %}
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Ticker</th>
                        <th scope="col">Option</th>
                        <th scope="col">P/L ($)</th>
                        <th scope="col">% of all trades</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for key, value in results.items %}
                            {% for key2, value2 in value.items %}
                                <tr>
                                    <td>{{ value2.ticker }}</td>
                                    <td>{{ value2.opt }}</td>
                                    <td>{{ value2.total }}</td>
                                    <td>{{ value2.trade_perc }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
            <hr>
        </div>
        <div class="col">
            <div>
                <h5>Transaction Log</h5>
                <small>All trades in Eastern time. Open positions in bold.</small>
            </div>
            <br>
            <div class="scrollable-large">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Side</th>
                            <th scope="col">Ticker</th>
                            <th scope="col">Strike</th>
                            <th scope="col">Option</th>
                            <th scope="col">Expiration</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Average ($)</th>
                            <th scope="col">P/L ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trade in transactions %}
                            <tr>
                                <td>{{ trade.timestamp }}</td>
                                <td>{{ trade.side }}</td>
                                <td>{{ trade.contract.ticker }}</td>
                                <td>{{ trade.contract.strike }}</td>
                                <td>{{ trade.contract.opt }}</td>
                                <td>{{ trade.contract.exp }}</td>
                                <td>{{ trade.qty }}</td>
                                <td>{{ trade.avg }}</td>
                                <td>{{ trade.total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if not transactions %}
                    No transactions recorded.
                {% endif %}
            </div>
            <hr>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'log/index.js' %}"></script>
{% endblock %}
