{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'log/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <ul class="nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-brand">{{ user.username }}</span>
                </li>
                <li style="border-right: solid 1px lightgray;"></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Options Hub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'upload' %}">Upload Trades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                <li style="border-right: solid 1px lightgray;"></li>
                <li class="nav-item">
                    {% block nav-item %}
                    {% endblock %}
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% if message %}
            <div class="alert alert-warning" role="alert" style="text-align: center;">{{ message }}</div>
        {% endif %}
        <main>
            {% block body %}
            {% endblock %}
        </main>
    </body>
</html>
