{% extends "log/layout.html" %}

{% block body %}
<div style="text-align: left;">
    <h2>Webull Upload Instructions</h2>
    <br>
    <ol style="display: inline-block; text-align: left; font-size: 16px;">
        <li>Log into Webull's website</li>
        <li>Go to "Trade" > "Account" > "Order History" > "Export"</li>
        <li>Download the file "Webull_Orders_Records_Options"</li>
        <li>Open file with Notepad</li>
        <li>Copy and paste CSV-formatted data into the upload textarea</li>
    </ol>
</div>
{% endblock %}